*{
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

.NavBarContainer{
  background-color: black;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

Button {
  background-color: black;
  padding: 0.2rem;
  margin:10px 5px;
  color: white;
  border: white solid 2px;
  border-radius: 5px;
  cursor: pointer;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.CarWidget, .Logo {
  width: 2.8rem; 
  height: 2.8rem; 
  margin: auto 0 auto 50rem;
  cursor: pointer;
}

h1 {
  color: black;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

h2 {

  color: black;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-size: 1.5rem;

}

.SetCountContainer {  
  margin: 5rem 5%;
  padding: auto;
  display: flex;
  flex-direction: column; 
}

.SetCountButtonContainer{
  display: flex;
  flex-direction: row;
  margin: 2% auto;
}

.SetCountButton {
  margin: 3%;
  width: 5rem;
}

.SetCountSubtitle {
  font-size: 20px;
  margin: 5% auto;
  width: 15rem;
  text-align: center; 

}

.BuyButtonMain {
  margin: 1% auto 1rem auto;
  width: 10rem;
  height: 3rem;
  font-size: large;
}

.Photo{
  width: 100%;
  height: 80%;
  border-radius: 5px;
  }
  a{
    text-decoration: none;
  }
  
  .name, .price {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  background-color: black;
  color: white;
  width: 100%;
  }

  .price::before{
    content: "$";
    margin-right: 1%;
  }
  
  .card{
  width: 15rem;
  height: 15rem;
   margin: 1%;
   cursor:pointer;
   border-radius: 5px;
   margin: 1rem auto;
  }

  .PhotoGallery{
    width:90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto 5%;
    flex-wrap: wrap;
  }