*{
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

.nav-container{
  background-color: black;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: fixed;
  top:0;
  margin: 0;
}

.nav-btn-container{
  background-color: black;
  opacity:1;
}

.btn-nav{

  background-color: rgb(255, 255, 255);
  padding: 0.2rem;
  margin: 10px 5px;
  color: rgb(17, 16, 16);
  border: white solid 2px;
  border-radius: 5px;
  cursor: pointer;
  width:5rem;
  height: 2rem;
  font-size: 20px;

}

.greetings {

    color: black;
    text-align: center;
    margin: 10rem 10rem 5rem 10rem;
} 


.add-btn-container {
  width: 20rem;
  height: 3.5rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.go-btn-container {
  width: 15rem;
  height: 3.5rem;
  margin: auto;
}

button {
  background-color: black;
  padding: 0.2rem;
  margin:10px 5px;
  color: white;
  border: white solid 2px;
  border-radius: 5px;
  cursor: pointer;
  width:100%;
  height: 100%;
  font-size: 20px;
}

.disabled-btn{
  background-color: grey;
  cursor: auto;
}

.buttonContainer {              /*REVISAR*/
  display: flex;
  flex-direction: row;
  width: 10rem;
  align-items: center;
  margin: auto;
}

.cart-container {
  display: flex;
  width:40%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.cart-subcontainer {
  margin: 2rem auto;
}

.cart-widget-container{
  display: flex;
  flex-direction: row;
  margin-left: 60rem;
}

.cart-widget, .Logo {
  width: 2.8rem; 
  height: 2.8rem; 
  cursor: pointer;
  margin: 4px;
}

.cart-qty {
  color: white;
    font-size: 20px;
    margin: 10px;
    text-align: center;
    background-color: coral;
    padding: 1px 10px;
    border-radius: 80px;
    cursor:auto;
}

h1 {
  color: black;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

h2 {

  color: black;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-size: 1.5rem;

}

strong {
  font-size: 1.4rem;
}

h3 {

  color: black;
  text-align: left;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  font-size: 1.3rem;
  font-weight: 300;

}

.count-container {  
  margin: 2rem 5%;
  padding: auto;
  display: flex;
  flex-direction: column;
  cursor: auto; 
} 

.count-btn-container{
  display: flex;
  flex-direction: row;
  margin: 2% auto;
}

.count-btn {
  margin: 3%;
  width: 5rem;
}

.count-subtitle {
  font-size: 20px;
  margin: 5% auto;
  width: 15rem;
  text-align: center; 

}

.BuyButtonMain {
  margin: 1% auto 1rem auto;              /*REVISAR*/
  width: 10rem;
  height: 3rem;
  font-size: large;
}

.photo{
  width: 100%;
  height: 80%;
  border-radius: 5px;
  }
  a{
    text-decoration: none;
  }
  
  .name, .price {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  background-color: black;
  color: white;
  width: 100%;
  }

  .price::before{
    content: "$";
    margin-right: 1%;
  }
  
  .card{
  width: 22rem;
  height: 20rem;
   margin: 1%;
   cursor:pointer;
   border-radius: 5px;
   margin: 1rem auto;
  }

  .cart-card{
    width: 15rem;
    height: 15rem;
     margin: 1%;
     cursor:auto;
     border-radius: 5px;
     margin: 1rem auto;
     
    }

  .photo-gallery{
    width:90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto 5%;
    flex-wrap: wrap;
  }

  .cart-gallery{
    width:90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 6rem 3rem;
    flex-wrap: wrap;
  }

  .pymt-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto 5rem;
    width:30rem;
    border: solid grey 1px;
    border-radius: 5px;
    height: 25rem;
    text-align: center;
    padding: 3px;
  }

  .pymt-container > input {
    margin: 15px auto;
    height: 2rem;
    width: 80%;
    border-radius: 5px; 
  }

  .pymt-container > h4 {
    margin: 23px auto;
  }
  
